button {
  padding: 1rem;
  background-color: green;
  color: white;
  cursor: pointer;
  border: none;
}

.HoverButton {
  padding: 1rem;
  background-color: transparent;
  color: black;
  transition: 0.2s ease;
}

.HoverButton:hover {
  transform: scale(1.03);
  padding: 1rem;
  background-color: blue;
  color: black;
}

.None {
  display: none;
}

.Linkbutton {
  padding: 1rem;
  background-color: transparent;
  color: #00c9c8;
  transition: 0.2s ease;
  text-decoration: none;
}

.Linkbutton:hover {
  transform: scale(1.03);
  padding: 1rem;
  background-color: #47817f;
  color: #00c9c8;
  text-decoration: none;
}

.Iconbutton {
  color: #00c9c8;
  text-decoration: none;
  font-size: 36px;
  margin-top: 0.5rem;
  transition: 0.2s ease;
}

.Iconbutton:hover {
  transform: scale(1.06);
}
