.App {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  text-align: center;
  background-color: #000000;
}

.Nav {
  position: sticky;
  top: 0;
  background-color: #000000;
}

.Content {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  min-height: 100%;
}

.Mobile {
  display: none;
}

* {
  font-family: "Roboto", sans-serif;
  color: #00c9c8;
}

@media (max-width: 854px) {
  .App {
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    text-align: center;
    background-color: #000000;
  }
}
